@import './styles/global.css';
@import './styles/transitions.css';
@import './styles/nameList.css';
@import './styles/loading.css';
@import './styles/theme.css';

.bg-theme,
.bg-text {
  transition: background-color 300ms ease;
}
.color-theme,
.color-text {
  transition: color 300ms ease;
}

.bg-primary.text-text {
  color: #fff;
}

.home__header {
  min-height: 140px;
  max-width: 690px;
}

.termsLink:after {
  content: '|';
  display: inline-block;
  position: relative;
  padding-left: .5rem;
}
.termsLink:hover:after {
  color: #fff !important;
}

.honorForm {
  max-width: 350px;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
.__react_component_tooltip {
  font-size: 16px;
  opacity: 1 !important;
  padding: 0;
  max-width: 90vw;
  width: 700px;
}

.light .__react_component_tooltip {
  background-color: white;
  box-shadow: 1px 5px 5px rgba(158, 158, 158, .5);
}
.light .__react_component_tooltip:after {
  border-top-color: #fafafa !important;
}

@media only screen and (max-width: 600px) {
  .__react_component_tooltip.show {
    left: 20px !important;
    top: auto !important;
    position: fixed;
    bottom: 20px;
  }
}

.totalNationalCount {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

.totalNationalCount.show {
  opacity: 1;
}

.search {
  max-width: 300px;
}

.about {
  max-width: 800px;
}
