@import './styles/global.css';
@import './styles/transitions.css';
@import './styles/nameList.css';
@import './styles/loading.css';

.bg-theme,
.bg-text {
  transition: background-color 300ms ease;
}
.color-theme,
.color-text {
  transition: color 300ms ease;
}

.bg-primary.text-text {
  color: #fff;
}

.home__header {
  min-height: 140px;
  max-width: 690px;
}

.termsLink:after {
  content: '|';
  display: inline-block;
  position: relative;
  padding-left: .5rem;
}
.termsLink:hover:after {
  color: #fff !important;
}

.honorForm {
  max-width: 350px;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
.__react_component_tooltip {
  font-size: 16px;
  opacity: 1 !important;
  padding: 0;
  max-width: 90vw;
  width: 700px;
}

@media only screen and (max-width: 600px) {
  .__react_component_tooltip.show {
    left: 20px !important;
    top: auto !important;
    position: fixed;
    bottom: 20px;
  }
}

.totalNationalCount {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

.totalNationalCount.show {
  opacity: 1;
}

.search {
  max-width: 300px;
}

.themeChange {
  position: fixed;
  top: 10px;
  right: 10px;
}

.themeChange svg {
  fill: var(--color-text);
  width: 100%;
}
.tgl {
  display: none;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: var(--color-theme);
  border: 2px solid var(--color-text);
  border-radius: 2em;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 1.5em;
  height: 1em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: var(--color-text);
  content: "";
  border-radius: 1em;
}
.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:after {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: var(--color-text);
}

.tgl-flat:checked + .tgl-btn {
  border: 2px solid var(--color-text);
}
