:root {
  --timeout: 500ms;
  --list-item-max-height: 30px;
}

.home__header {
  max-width: 690px;
}
.nameList__item {
  display: inline;
  word-wrap: break-word;
}
.nameList__item span {
  word-wrap: break-word;
}
.nameList__item > span:after {
  content: '/';
  display: inline-block;
  position: relative;
  padding-left: .5rem;
}
.termsLink:after {
  content: '|';
  display: inline-block;
  position: relative;
  padding-left: .5rem;
}
.loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	background: #222;
	position: relative;
}

.loading::before {
	position: absolute;
	content: '';
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
	margin-left: -5px;
	margin-top: -5px;
	border: 3px solid transparent;
	border-top-color: #fff;
	border-bottom-color: #fff;
	animation: spin 0.8s linear 0s infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.honorForm {
  max-width: 350px;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  font-size: 1.5em;
  border: 0;
  /* border-bottom: 1px solid #ccc; */
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

input:focus {
  outline: 0;
  /* border-bottom: 1px solid #666; */
}

label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.fade-enter {
  max-height: 0;
  opacity: 0;
}

.fade-enter-active {
  max-height: var(--list-item-max-height);
  opacity: 1;
  transition: all var(--timeout);
  transition: all 300ms;
}

.fade-exit {
  max-height: var(--list-item-max-height);
  opacity: 1;
}

.fade-exit-active {
  max-height: 0;
  opacity: 0;
  transition: all var(--timeout);
  transition: all 300ms;
}